@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LHANDW";
  src: url("../public/LHANDW.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }

  .button {
    @apply rounded-md bg-yellow-500 px-8 py-3 font-libre font-bold text-neutral-900;
  }

  .text-dim-gray {
    @apply text-[#454545];
  }
}

.font-lucida-hw {
  font-family: "LHANDW", sans-serif;
}
